.bg-principal {
    background: #009ba9;
}

.bg-convalidacion {
    background: #DEDEDE !important;
}

.bg-fin {
    background: #AFF7C0 !important;
}
.btn-principal {
    color: #fff;
    background-color: #009ba9 !important;
    border-color: #009ba9 !important;
}

